{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>

<body>
    <div id="footer">
        <div class="row social">
            <div class="col-md-4 d-flex justify-content-center align-items-center"><a href="https://fr-fr.facebook.com/" title="facebook" aria-label="lien vers facebook"><i class="fa-brands fa-facebook fa-2x"></i></a></div>
            <div class="col-md-4">
                <h1 class="mb-2 d-flex justify-content-center" style="color:red;">News Application</h1>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center"><a href="https://twitter.com"><i class="fa-brands fa-twitter fa-2x" title="twitter" aria-label="lien vers twitter"></i></a></div>
        </div>

    </div>
</body>

</html>
{% endblock %}