{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}
{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello my content ✅</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum laborum totam ex quos labore, eaque possimus deleniti! Ipsum aliquid deleniti sapiente officiis corrupti ea architecto veniam adipisci similique a mollitia, amet optio porro blanditiis aut culpa facilis quis provident, iusto nostrum, tempore perferendis! Soluta provident doloribus sequi repudiandae illo aliquid debitis numquam fuga rerum eveniet facilis, delectus eligendi eum consequuntur amet ipsa corporis recusandae aliquam? Rem unde id vel quo rerum tempora incidunt nesciunt odio voluptas omnis dolores provident nihil suscipit quis reiciendis vero esse laudantium iste ipsam dicta, repellendus qui fugiat in nostrum. Recusandae, distinctio iusto id repudiandae dignissimos earum. Dolorem odit numquam pariatur tenetur et maxime repellat facilis itaque fugiat, labore voluptate ratione perferendis? Nam, quae odit laudantium nobis quam unde, nisi eos odio beatae, nesciunt officia numquam ea! Quis fugit exercitationem tempore eligendi officia laboriosam error libero laborum quam minima eos, fugiat ea itaque repellat alias esse ex quia amet maxime? Tenetur, voluptatum doloremque? Recusandae ex exercitationem repellat eius libero, rerum et quidem consectetur cupiditate, porro earum voluptatibus officia quia ullam, cum aliquid odio odit? Officiis non voluptatibus magni iure beatae dolorum suscipit voluptatem molestiae ea, quibusdam debitis, alias quasi illum odio nostrum quas impedit excepturi exercitationem.</p>
</div>
{% endblock %}
